.arrow{
    width: 22px;
    height:22px;
    position: absolute;
    right: 20px;
    top: 10px;
    transition: all linear 320ms;
    z-index: 2;

}
.arrow::after{
    content: '';
    display: block;
    transform: rotate(135deg);
    width: 9px;
    height: 27px;
    background: #fff;
    position: absolute;
    top:0;
    left:0;
}
.arrow::before{
    content: '';
    display: block;
    transform: rotate(45deg);
    width: 9px;
    height: 27px;
    background: #fff;
    position: absolute;
    top:0;
    right:0;
}