.animate{
    transition: 1s ease-in-out;
    animation-name: animate;
    animation-duration: 2s;
    position: absolute;
    width: 30%;
    border-radius: 1rem;
}
@keyframes animate {
    0%   {top:-100px}
    70% {top: 100px; width: 30%}
    100%{top: 0px;width:200%}
  }
  
  /* The element to apply the animation to */
